h1 {
  color: black;
  text-align: center;
  font-family: veranda;
}

a {
  font-family: veranda;
  font-style: oblique;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b4958;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #CC231E;
}

canvas {
   pointer-events: none;
}

.sky {
    color: #FFF;
    display: block;
}

.active {
    background-color: #34A65F !important;
}

.initiallyHidden {
  display: none;
}

.main {
  margin-right: 17%;
  margin-left: 17%;
}
