/*Global font.  This will change the entire page*/
h1, p, h2, h3, h4, a {
  color: #333333;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Raleway', Arial, sans-serif;
}

a {
  color: #3e5170;
}

h1 {
  padding-top: 4%;
  text-align: center;
}

ul {
  border-radius: 7px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b4958;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #6a767c;
}

canvas {
  pointer-events: none;
}

.sky {
  color: #FFF;
  display: block;
}

.active {
  background-color: #20a32f !important;
}

.initiallyHidden {
  display: none;
}

.verticalCenter {
  text-align: center;
}

.main {
  border: 0px solid black;
  border-radius: 15px;
  margin-right: 14%;
  margin-left: 14%;
  z-index: 999;
  background-color: #F2F2F2;
  opacity: 0.85;
}

.mainText {
  margin-right: 3%;
  margin-left: 3%;
}

.padBottomFivePct {
  padding-bottom: 5%;
}

.padTopFivePct {
  padding-top: 5%;
}

img.iconImage {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  padding-right: 10px;
  padding-top: 5px; /* TODO probably a better way to do this... */
}

li.lastChild {
    float:right;
}

p.lastParagraph {
  padding-bottom: 25px;
}

p.smallText {
  font-size: small;
}
